
 /* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {  }



 /* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }


/*  Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  }


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    html {
        font-size: 50%; /* 1rem = 8px */
    }


    header nav{
        flex-direction: column;
        row-gap: 1rem;
    }

    header nav button{
        font-size: 1.8rem;
        padding: .5rem 1rem;
    }

    section .main-content h1 {
        font-size: 2rem;
        line-height: 1;
    }
    section .main-content button{
        font-size: 1.8rem;
        padding: .5rem 1rem;
    }


    .app{
        flex-direction: column;
    }

    .app .app_img_box{
        width: 100%;  
         display: flex;
        justify-content: center;
        align-items: center;
    }

    .app .app_img_box img {
        width: 65%;
    }
    .app .app_content_box, .app_img_box{
        width: 90%;
        margin: 0 auto;
     
    }


    .service .service-container{
        flex-direction: column-reverse;
    }

    .service .service-left-part button {
        font-size: 1.8rem;
        padding: .5rem 1rem;
    }

    .review .review-container{
        flex-direction: column;
    }

    .news .news-card {
        
        grid-template-columns: repeat(1, 1fr);
        
    }

  }




/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

    html{

        font-size: 48%;
    }

    header{
        height: 100%;
    }

    header .home{

        flex-direction: column-reverse;
        width: 100%;
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    header .home .main-content, .main-image{
        padding: 0;
        margin: 0;
    }

    header .home .main-content{
        width: 90%;
        margin:  auto;
        margin-top: 1rem;
    }

    header section .main-content, .main-image{
        width: 90%;
    }

    aside img{
        display: none;
    }


    .app_converter .cards{
        flex-direction: column;
    }

    .app_converter .cards .card{
        width: 90%;
        row-gap: 2rem;

    }

    .app_converter .cards .card:first-child{
        margin-bottom: 1rem;
    }
    .app_converter .cards .card:last-child{
        margin-top: 1rem;
    }



    aside p {
       width: 75%;
       margin-bottom: 2rem;
    }

    .roadmap   p{
       
        width: 75%;
    }

    .service .service-left-part .service-section{
        flex-direction: column;
        align-items: flex-start;
    }


 }
